.login-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  /* background-color: white; */
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #00bfa6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background-color: #009b8a;
}
